
body {
	margin: 2px;
	font-family: Arial;
  background-color: #A1EA10;
  padding: 4px;

}
h1{
  color: #0B0BDA;
}
h2{
  color: #6500B8;
}
h3{
	color: #0e0e0e;
}
section{
display: inline-block;
position: relative;
text-align: left;}
b{color:indigo;}
i{
	color: red;
}
nav a{
	display: inline-block;
	width: 22%;
	text-align: center;
	font-size: 200%;
	margin: 1px;
	border-radius: 5px;
	padding: 2px;
	font-family: 'Times New Roman';
}
div{
	display: inline-block;
	position: relative;
	margin: 0 auto;
	text-align: center;
}
#right{
	margin-right: 2%;
	text-align: center;
	padding: 100px;
	display: inline-block;
	width: 70%;
	color: #FFFFFF;
	font-size: 60px;
	font-family: 'Times New Roman';
	float: left;
	background: -moz-linear-gradient(top, #0e0e0e 0%, #84F547 100%);
	background: -webkit-linear-gradient(#0e0e0e 0%, #84F547 100%);
	background: -o-linear-gradient(#0e0e0e 0%, #84F547 100%);
	background: linear-gradient(#0e0e0e 0%, #84F547 100%); 
}
.left{
	width: 20%;
	height: 900px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: Arial, 'Times New Roman';
    text-align: justify-all;
	margin-right: 2%;
	display:inline-block;
	float:left;
	padding-left: 30px;
	padding-top: 15px;
	background: #666666;
	background: -moz-linear-gradient(top, #13F13F 0%, #0e0e0e 100%);
	background: -webkit-linear-gradient(#13F13F 0%, #0e0e0e 100%);
	background: -o-linear-gradient(#13F13F 0%, #0e0e0e 100%);
	background: linear-gradient(#13F13F 0%, #0e0e0e 100%); 
}
.right1{
	margin-right: 2%;
	text-align: left;
	padding: 26px;
	display: inline-block;
	width: 70%;
	color: #FFFFFF;
	font-size: 20px;
	float: left;
	background: -moz-linear-gradient(top, #999B97 0%, #6DF425 100%);
	background: -webkit-linear-gradient(#999B97 0%, #6DF425 100%);
	background: -o-linear-gradient(#999B97 0%, #6DF425 100%);
	background: linear-gradient(#999B97 0%, #6DF425 100%); 
}
a{
  font-style: oblique;
  font-size: 30px;
  text-alignment: justify;
  color: #03233F;
}
a:visited{
  color: #59fd6
}
a:hover{
  color: #fbfb13;
}
header{
	font-size: 150%;
	font-family: 'Times New Roman';

 
}